<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    
    h4 {
      text-shadow: -1px -1px 0 red;
    }
    </style>
    <title>Digital Closet</title>
   
    <% include ./partials/head.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  
    <div class="header">
     
      <div class="header-title">
        <img src="https://i.imgur.com/CNPSr5h.jpg">
        <h1>Digital Closet</h1>
      </div>
      
      <div class="header-nav">
        <ul>
          <li>
              <h5><a href="/users/new">Sign-up</a></h5>
          </li>
         
          <li></li>
         
          <li></li>
        
          <li>
          </li>
        </ul>
      </div>
    </div>
   
    <div class="main">

      <img class = "displayWindow" src="https://i.imgur.com/juamqu3.jpg">
      <div class="main-abt">
        <h4>Sign-up today to start adding clothes to your digital closet!</h4>
      
      </div>
    </div>
  </body>
</html>
