<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
 
 
      <div class="container">

        <% for(let i = 0; i < user.jacketImage.length; i++){ %>
          <ul>
     <img src = "<%=user.jacketImage[i]%>">
        </ul>
        <%}%>
        </div>
    </body>
</html>