<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
 

      <div class="container">

        <% for(let i = 0; i < user.tShirtImage.length; i++){ %>
          <ul>
          <img src = "<%=user.tShirtImage[i]%>">
        </ul>
        <%}%>
        </div>
    </body>
</html>